<%- include('partials/header') %>

<div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-4">GPS Revenue Report</h1>
    </div>
    <div class="card">
        </div>
        <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10%; text-align: left; vertical-align: top;">Product ID</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;">Product Name</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;">Price</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Total number of units ever sold">Total Units Sold</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Total number of units sold at a discount">Units Sold at Discount</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Total number of units sold at retail price">Units Sold at Retail</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Total revenue collected from all the sales">Total Revenue</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Total predicted revenue">Predicted Revenue</th>
                    <th style="width: 10%; text-align: left; vertical-align: top;" title="Predicted revenue differences">Revenue Diff ↓</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                <% gps_rev_report.forEach(function(gps) { %>
                    <tr>
                        <td><%= gps.pid %></td>
                        <td><%= gps.product_name %></td>
                        <td>$ <%= gps.price %></td>
                        <td><%= gps.total_quantity_sold %></td>
                        <td><%= gps.total_quantity_sold_discount  %></td>
                        <td><%= gps.total_quantity_sold_retail  %></td>
                        <td>$ <%= gps.actual_revenue  %></td>
                        <td>$ <%= gps.predicted_revenue  %></td>
                        <td>$ <%= gps.revenue_diff  %></td>
                    </tr>
                <% }); %>
            </tbody>
          </table>
          <div class="mt-4">
            <a href="/menu" class="btn btn-danger">Exit</a>
            </div>
        </div>
        </div>
    </div>


<%- include('partials/footer') %>