<%- include('partials/header') %>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Product Details For Manufacturer <%= manufacturer %></h1>
    </div>
    <div class="card">
        <div class="card-body">
            <!-- Table to display the store details -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Categories</th>
                        <th>Product Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% mfg_details.forEach(function(detail) { %>
                        <tr>
                            <td><%= detail.pid %></td>
                            <td><%= detail.product_name %></td>
                            <td><%= detail.categories %></td>
                            <td>$ <%= detail.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="mt-4">
                <a href="/manufacturer-report" class="btn btn-danger">Back to Report</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
