<%- include('partials/header') %>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Store Revenue by Year by State</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <!-- Form for state selection -->
            <form action="/store-revenue" method="GET" class="mb-4">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="state">State</label>
                        <select class="form-control mb-2" id="state" name="state" required>
                            <option value="" disabled selected>Select State</option>
                            <% states.forEach(function(state) { %>
                                <option value="<%= state %>"><%= state %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark mb-2">Submit</button>
                    </div>
                </div>
            </form>

            <!-- Table to display the report -->
            <% if (rev_year_state_report.length > 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year ↑</th>
                        <th>City</th>
                        <th>Store Number</th>
                        <th>Total Revenue ↓</th>
                    </tr>
                </thead>
                <tbody>
                    <% rev_year_state_report.forEach(function(report) { %>
                        <tr>
                            <td><%= report.report_year %></td>
                            <td><%= report.city_name %></td>
                            <td><%= report.store_number %></td>
                            <td>$ <%= report.total_revenue %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
            <p>No data available for the selected state.</p>
            <% } %>
            <div class="mt-4">
                <a href="/menu" class="btn btn-danger">Exit</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>